@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-color: #E7DFF2;
}

header{
    background-color: #010D00;
    min-height: 200px;
    max-height: 250px;
}

#LogoTopo{
    width: 150px;
    height: 150px;
    margin: auto;
}

#LogoTopo > img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

nav{
    background-color: #1C1526;
    min-height: 45px;
    max-height: 50px;
}
#AreaPesq{
    min-height: 35px;
    max-height: 40px;
    min-width: 200px;
    max-width: 250px;
    border-radius: 5px;
    margin-left: 5%;
    background-color: white;
}

#PesqLivro{
    min-height: 35px;
    max-height: 40px;
    min-width: 35px;
    max-width: 40px;
    border-radius: 5px;
    background-color: white;
}

nav > ul{
    text-align: right;
}

nav > ul > li{
    display: inline;
    text-align: right;
}

nav > ul > li > a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 30px;
    text-align: right;
}