@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-color: #E7DFF2;
}

header{
    background-color: #010D00;
    min-height: 240px;
    max-height: 250px;
}

#LogoTopo{
    width: 150px;
    height: 150px;
    margin: auto;
}

#LogoTopo > img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

nav{
    background-color: #1C1526;
    min-height: 55px;
    max-height: 60px;
    text-align: right;
}
#AreaPesq{
    min-height: 40px;
    max-height: 45px;
    min-width: 230px;
    max-width: 300px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5px;
    background-color: white;
    border-style: none;
    box-shadow: none;
}

#PesqLivro{
    min-height: 40px;
    max-height: 45px;
    min-width: 40px;
    max-width: 45px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    box-shadow: none;
}

#PesqGeral{
    display: inline;
}

#NavMenu{
    display: inline;
    text-decoration: none;
    text-align: right;
}

#NavMenu > a{
    text-decoration: none;
}