@charset "UTF-8";

*{
    margin: 0px;
}

header{
    background-color: #010D00;
    min-height: 200px;
    max-height: 250px;
}

#LogoTopo{
    width: 150px;
    height: 150px;
    margin: auto;
}

#LogoTopo > img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}