@charset "UTF-8";

@media screen and  (min-width: 768px){

    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1, 300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Patrick+Hand +SC&display=swap');

:root{
    --cor0: #B6B0BF;
    --cor1: #E7DFF2;
    --cor2: #1C1526;
    --cor3: #0D0D0D;
    --cor4: #010D00;

    --font-padrao: Arial, Verdana, Helvetica,sans-serif;
    --font-mukta: 'Mukta', sans-serif;
    --font-kanit: 'Kanit', sans-serif;
    --font-patrick-hand: 'Patrick Hand SC', sans-serif;
}
    
    header{
        background-color: #010D00;
        min-height: 210px;
        max-height: 250px;
    }
    
    #LogoTopo{
        min-width: 100px;
        max-width: 150px;
        min-height: 100px;
        max-height: 150px;
        margin: auto;
    }
    
    #LogoTopo > img{
        width: 150px;
        height: 150px;
        margin-top: 25px;
    }

    menu{
        background-color: #1C1526;
        height: 56px;
        text-align: right;
    }
    
    #MenuBurger{
        padding: 10px;
        background-color: var(--cor2);
        display: block;
        color: var(--cor1);
        font-size: 2em;
        text-align: right;
        cursor: pointer;
        padding-right: 40px;
    }
    
    #MenuBurger:hover{
        color: var(--cor2);
        background-color: var(--cor1);
    }
    
    #AreaPesq{
        min-height: 40px;
        max-height: 45px;
        min-width: 200px;
        max-width: 300px;
        border-radius: 3px;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        border-style: none;
        box-shadow: none;
        display: inline;
    }
    
    #PesqLupa{
        min-height: 40px;
        max-height: 45px;
        min-width: 40px;
        max-width: 45px;
        margin-top: 8px;
        margin-right: 40px;
        border-radius: 3px;
        background-color: white;
        border-style: none;
        display: inline;
    }
    
    #PesqGeral{
        display: inline;
        background-color: var(--cor2);
        padding-bottom: 9px;
    }

    #MenuBurger{
        display: none;
    }

    #PesqGeral{
        display: inline;
    }

    #NavMenu1{
        text-decoration: none;
        display: none;
    }
    
    #NavMenu1 > a{
        text-decoration: none;
        padding: 15px 5px 17px 5px;
        margin-right: 30px;
        font-size: 1.2em;
        font-family: var(--font-kanit);
        font-weight: bolder;
        color: var(--cor1);
        transition-duration: 0.3s;
        display: block;
        text-align: center;
        background-color: var(--cor2);
        width: 100%;
        position: relative;
    }

    #NavMenu1 > a::after{
        content: " ";
        width: 0px;
        height: 4px;
        background-image: linear-gradient(90deg, #1C1526, hwb(264 51% 7%));
        position: absolute;
        left: 0;
        top: 35px;
        border-radius: 10px;
        transition: width 0.4s;
    }

    #NavMenu1 > a:hover::after{
        width: 98%;
    }

    #NavMenu1{
        display: inline;
    }

    #NavMenu1 > a{
        display: inline;
        border-radius: 3px;
    }

    #NavMenu2{
        display: none;
    }

    main{
        margin-top: 7px;
    }

    #BoasVindas{
        max-height: 10vw;
        padding: 30px 0px 20px 0px;
        background-color: black;
        text-align: center;
        font-family: var(--font-patrick-hand);
        padding: 50px 10px 80px 10px;
    }
    
    #BoasVindas > h1{
        font-size: 3em;
        margin-bottom: 10px;
    }
    
    mark{
        padding: 4px;
        background-color: var(--cor1);
        border-radius: 5px;
        color: rgb(0, 0, 0);
        font-size: 1.7em;
    }

    .Vant{
        height: 380px;
        position: relative;
    }
    
    #Vantagens1{
        background-image: linear-gradient(180deg, #000000, #2c1a45);
        padding-bottom: 50px;
    }
    
    #Vantagens1 > img{
        width: 280px;
        height: 280px;
        padding-top: 10px;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 60%;
    }

    #Vantagens1 > article{
        text-align: left;
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 2%;
    }
    
    #Vantagens1 > article > h3{
        color: white;
        font-family: var(--font-mukta);
        font-weight: 800;
        font-size: 1.5em;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
    }
    
    #Vantagens1 > article > p{
        display: inline-block;
        width: 400px;
        height: 100px;
        color: white;
        text-align: center;
        padding: 20px 15px 0px 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        text-align: left;
    }
    
    #Vantagens2{
        background-image: linear-gradient(180deg, #2c1a45, #000000);
        text-align: center;
        padding-bottom: 50px
    }
    
    #Vantagens2 > img{
        width: 280px;
        height: 280px;
        padding-top: 10px;
        position: absolute;
        top: 0px;
        left: 60%;
    }

    #Vantagens2 > article{
        text-align: left;
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 2%;
    }
    
    #Vantagens2 > article > h3{
        color: white;
        font-family: var(--font-mukta);
        font-weight: 800;
        font-size: 1.5em;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
    }
    
    #Vantagens2 > article > p{
        display: inline-block;
        width: 400px;
        height: 100px;
        color: white;
        text-align: center;
        padding: 20px 15px 0px 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        text-align: left;
    }
    
    #Vantagens3{
        background-image: linear-gradient(180deg, #000000, #2c1a45);
        text-align: center;
        padding-bottom: 60px
    }
    
    #Vantagens3 > img{
        width: 280px;
        height: 280px;
        padding-top: 10px;
        position: absolute;
        top: 0px;
        left: 60%;
    }

    #Vantagens3 > article{
        text-align: left;
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 2%;
    }
    
    #Vantagens3 > article > h3{
        color: white;
        font-family: var(--font-mukta);
        font-weight: 800;
        font-size: 1.5em;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
    }
    
    #Vantagens3 > article > p{
        display: inline-block;
        width: 400px;
        height: 100px;
        color: white;
        text-align: center;
        padding: 20px 15px 0px 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        text-align: left;
    }

    #NavPages{
        width: 480px;
        margin: auto;
        padding: 100px 30px 70px 30px;
    }
    
    .NumPages{
        display: inline;
        padding: 7px;
        margin: 4px;
        background-color: rgb(61, 61, 61);
        color: white;
        border-radius: 5px;
        font-family: var(--font-padrao);
    }
}